body{
	margin:0px;
	position: relative;
}

header{
	background-color: #F2F7FA;

}

ul{
	padding-left: 0px;
	margin: 0px;

	padding-top: 10px;
}

.wrapper{
	width: 1200px;
	margin:auto;
}


.navheader{
	padding-top: 10px;
	padding-bottom: 40px;
	height: 30px;
}

.global_link_block{
	float: left;
	padding: 10px;
	background-color: #DDEAF2;
	margin-right: 10px;
}


.global_link_left{
	float: left;
	padding-right: 10px;
	margin: 10px;
	border-right: 1px solid black;
}

.global_link_right{
	float:right;
	padding-right: 10px;
}

.menu_right{
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	border-right: 1px solid black;
}

.brandname_homelink{
	background-image: url(../images/st-masthead--sprite.png);
	background-repeat: no-repeat;
	background-size: 700px;
	top: 0px;
	height: 60px;
	width: 660px;
}

.awardlink{
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 12px;
	color: #AE7301;
}


.nav_menu{
	padding-bottom: 10px;
	background-color: #DDEAF2;
}

.nav_primary{
	padding top:-10px;
	display: inline-block;
	margin-right: 10px;
}





